.profile-info {
    background: 
        linear-gradient(var(--c-blue-d2), var(--c-blue), var(--c-blue-d2)), /* Primeiro gradiente */
        linear-gradient(90deg, var(--c-blue-d2), var(--c-blue), var(--c-blue-d2)); /* Segundo gradiente */
    background-blend-mode: screen; /* Define como as cores dos gradientes interagem */
    position: relative;
    height: calc(60% - 60px);
    padding: 50px 5vw;
    display: flex;
    flex-direction: row;
    
}

.profile-info > div {
    background-color: #fff;
    flex: 1;
    padding: 3vh 0 2vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
    border-radius: 15px;
}

.profile-info > div:first-child {
    padding-left: 5vw;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.profile-info > div:last-child {
    padding-right: 5vw;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.profile-info > div > p {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-right: 30%;
    font-size: max(1.4vw, 2vh);
    font-weight: 500;
    color: var(--c-blue-d3)
}

.profile-info .user-data {
    font-weight: normal;
    color: black;
}

.profile-info .bio {
    padding: 0;
    position: relative;
}

.profile-info .bio .user-data {
    position: relative;
    top: 20%;
    left: 10%;
    padding-right: 10%;
    text-align: justify;
}